.list_group_item {
    display: flex;
    background: none;
    height: 3.5rem;
    align-items: center;
}

.list_group_item.active,
.list_group_item:hover {
    background: #222;
    border: 0;
    color: white;
    position: relative;
}