.list_group_item {
    display: flex;
    background: none;
    height: 3.5rem;
    align-items: center;
}

.active,
.list_group_item:hover {
    background: #222 !important;
    border: 0 !important;
    color: white !important;
}