.Sidenav {
    background: #fff;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    z-index: 200;
    position: fixed;
    top: 0;
    height: 100vh;
    -o-transition: margin .25s ease-out;
    color: #555;
    transition: margin .25s ease-out;
}

.heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.open {
    margin-left: 0rem;
}

.close {
    margin-left: -15rem;
}

.SideIcons {
    height: calc(100vh - 4.3rem);
    position: fixed;
    top: 4.3rem;
    left: 0;
    background: #fff;
    width: 3.5rem;
    z-index: 50;
}


@media (min-width: 1030px) {
    .Sidenav {
        position: static;
        height: 100vh;
        padding-left: 3.5rem;
        padding-top: 4.3rem
    }

    .close {
        margin-left: -10.5rem
    }
}