.Toolbar {
    height: 4.2rem;
    border-bottom: 1px solid rgb(228, 232, 255)
}

.Toolbar img {
    height: 2.6rem;
}

.Toolbar .brand {
    align-items: center;
}

.Toolbar p {
    font-size: 1.6rem !important;
    font-family: cursive;
    line-height: .8;
    margin: 0 1rem
}

.Toolbar p span {
    font-size: 1rem
}


.Toolbar .user {
    margin: 0 1rem;
}